<div class="about">
  <div class="about_content">
    <h1>Made by us</h1>
    <div class="list">
      <ul class="list-inline">
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/benpenton", class: "avatar" %>
          <h3>Ben</h3>
        </li>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/gglewinsmith", class: "avatar" %>
          <h3>George</h3>
        </li>
      </ul>
    </div>
  </div>
</div>
