<div class="about">
  <div class="about_content">
    <h1 class="text-center">Made by us</h1>
    <ul class="list-inline list_profiles">
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/benpenton", class: "avatar" %>
        <h3 class="text-center">Ben</h3>
      </li>
      <li>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/gglewinsmith", class: "avatar" %>
        <h3 class="text-center">George</h3>
      </li>
    </ul>
  </div>
</div>
